<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="topnav" th:fragment="header">
		<head>
			<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}" />
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
		</head>

<form th:action="@{/welcome}" method="get" id="welcome"></form>
<form th:action="@{/completeDetailsStudent}" id="complete"></form>
<form th:action="@{/teachers}" id="profesori"></form>
<form th:action="@{/viewCV}" th:target="_blank" id="viewCV"></form>
<form th:action="@{/logout}" method="post" id="logout"></form>
<form th:action="@{/viewRequests}" id="cereri"></form>
	
	<a href="#" th:onclick="submit('welcome')">Home</a>
	<a href="#" th:onclick="submit('complete')" >Completeaza profil</a>
	<a href="#" th:onclick="submit('viewCV')" >Vezi profil</a> 
	<a href="#" th:onclick="submit('profesori')" >Profesori coordonatori</a>
	<a href="#" th:onclick="submit('cereri')" >Cereri trimise</a>
	<a href="#" th:onclick="submit('logout')" >Logout</a> 


<script type="text/javascript">
	function submit(x){
		document.getElementById(x).submit();
			}
</script>

</div>

</html>