 /* Chat containers */
 
 
 .chatBox{
	margin-top:5%;
	display:block;
	border:2px solid #dedede;
 	width: 65%;
 	position: relative;
 	left: 18%;
 	height:600px; 
 	
 	
 }
 
 
 .container{
 	display:flex;
 	flex-direction:column;
 	padding-top: 2%;
 	padding-bottom:2%;
 	width:100%; 
 	
 	
 }
 
.sender {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 7px;
  margin-right:1.5%;
  margin-left:1.5%;
  text-align: right;
  
  display:flex;
  flex-direction:column;
  align-self: flex-end;
 
  padding-top: 1%;

  word-wrap:break-word;  
  word-break: break-word;
  
  max-width:87%;
  }
  
  .receiver {
	
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 7px;
  margin-left:1.5%;
  margin-right:1.5%;
 
  padding-top: 1%;
  
  max-width:87%;
  display:flex;
  flex-direction:column;
  align-self: flex-start;
  
  word-wrap:break-word;
  word-break: break-word;
 
}
  
  .name{
  	font-weight: 350;
  }
  
  .date{
 	 font-weight: 100;
 	   font-size: 12px;
 	 
  }
  
  .scrollable{
  height:500px;
  overflow-y: scroll;
  
  }
  
  .typeMessage {
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-top:1px solid #cccccc;
  
  display:flex;
  flex-direction: row;
  align-items:center;  
  padding-left:3%;  
  z-index:5;
  
 
}
 
textarea{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-family: inherit;
  resize:none;
  border: 2px solid #dedede;
  
  width:410px;
  height:70px;
  margin-top:3%;

}

.btnSubmit{
	position:relative;
	bottom:23px;
	left:20px;
	}

.butoane{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	
	margin-top:4%;
}

  border-color: #ccc;
  background-color: #ddd;
  
  display:flex;
  flex-direction:column;
  
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 