 /* Chat containers */
 
 
 .chatBox{
	margin-top:5%;
	display:block;
	border:2px solid #dedede;
 	width: 65%;
 	position: relative;
 	left: 18%;
 	
 	height:600px; 	
 }
 
 
 .container{
 	display:flex;
 	flex-direction:column;
 	padding-top: 2%;
 	padding-bottom:2%;
 	width:100%; 
 }
 
.sender {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 7px;
  margin-right:1.5%;
  margin-left:1.5%;
  text-align: right;
  
  display:flex;
  flex-direction:column;
  align-self: flex-end;
 
  padding-top: 1%;

  word-wrap:break-word;  
  word-break: break-word;
  }
  
  .receiver {
	
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 7px;
  margin-left:1.5%;
  margin-right:1.5%;
 
  padding-top: 1%;
  
  
  display:flex;
  flex-direction:column;
  align-self: flex-start;
  
  word-wrap:break-word;
  word-break: break-word;
 
}
  
  .name{
  	font-weight: 350;
  }
  
  .scrollable{
  height:500px;
  overflow-y: scroll;
  
  }
  
  .typeMessage {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
  
  display:flex;
  flex-direction: row;
  align-items:flex-start;
  margin-left:5%;
  width:80%;
  
  z-index:999;
    
  
}

.btnSubmit{
	position: relative;
 	left: 75%;
}

.butoane{
	display:inline-blocks;
}


  border-color: #ccc;
  background-color: #ddd;
  
  display:flex;
  flex-direction:column;
  
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 