 /* Chat containers */
 
 .container{

 	display:flex;
 	flex-direction:column;
 	
 	width: 65%;
 	border-left: 5px solid #dedede;
 	border-right: 5px solid #dedede;	
 	
 	position: relative;
 	left: 18%;
 	
 	padding-top: 1%;
 	 
 }
 
.sender {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 7px;
  margin-right:1.5%;
  text-align: right;
  
  width:max-content; !important;
  
  display:flex;
  flex-direction:column;
  align-self: flex-end;
  
  padding-top: 1%;
  
  }
  
  .receiver {
	
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 7px;
  margin-left:1.5%;
  width:max-content;
  
  padding-top: 1%;
}
  
  .name{
  	font-weight: 350;
  }
  
  
  .content {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
  
  display:flex;
  flex-direction: column;
  width:50%;
  align-self: flex-end;
  position: relative;
  left: 45%;
  margin-bottom:2%;
}

.btnSubmit{
	display:flex;
	position: relative;
 	 left: 75%;
}

.butoane{
	display:inline-blocks;
}



  border-color: #ccc;
  background-color: #ddd;
  
  display:flex;
  flex-direction:column;
  
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 