<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>



<title>Complete details</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="css/teacher/completeTeacherDetails.css" rel="stylesheet"
	media="all">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/headerTeacher.css}" />
</head>

<div th:replace="fragments/headerTeacher :: header">...</div>

<div th:if="${nullProject}">
	<script> alert("Selecteaza un fisier!") </script>
</div>

<body>
	<div class="page-wrapper bg-dark p-t-100 p-b-50">
		<div class="wrapper wrapper--w900">
			<div class="card card-6">
				<div class="card-heading">
					<h2 class="title">Completeaza profilul</h2>
				</div>
				<div class="card-body">
					<form th:action="@{/submitDetailsTeacher}">
						<div class="form-row">
							<div class="name">Departament</div>
							<br>
							<div class="input-group">
								<input class="input--style-6" type="text" th:name="departament"
									placeholder="Departament" th:value="${teacher.departament}"
									required>
							</div>
						</div>

						<div class="form-row">
							<div class="name">Locuri disponibile</div>
							<br>
							<div class="input-group">
								<input class="input--style-6" type="text" th:name="slots"
									placeholder="Locuri disponibile" th:value="${teacher.slots}"
									required>
							</div>
						</div>

						<div class="form-row" style="border-bottom:none">
							<div class="name">Alte mentiuni</div>
							<br>
							<div class="input-group">
								<textarea class="input--style-6" rows="3" cols="50"
									placeholder="Introduceti alte precizari" th:name="comment">[[${teacher.comment}]]</textarea>
							</div>
						
						</div>
						<div class="btnSubmitDetails">
							<button class="btn btn--radius-2 btn--blue-2" type="submit">Actualizeaza Detalii</button>
							<div th:if="${succes}"><b>[[${succes}]]</b></div>
						</div>
						
					</form>
					
		<form th:action="@{/submitTema}" enctype="multipart/form-data" method="post" class="formSubmitProject">
						<p><b>Incarca o tema</b></p>
						<div class="custom">
								<input class="input--style-6" type="text" th:name="numeTema"
									placeholder="Numele temei" required> 
									<input type="file" id="file_tema" name="tema">
								<button class="btn btn--radius-2 btn--blue-2 btnSubmitProject" type="submit">Incarca tema</button>
						<div class="label--desc">Max file size 16 MB</div>
						<div th:if="${succesUploadProject}"><b>[[${succesUploadProject}]]</b></div>
						</div>
						
	  </form>			
	  
	  
	  <form th:action="@{/deleteProject}" class="formDeleteProject">
	  	 <p><b>Sterge o tema</b></p>
	  	 <div class="custom">
	  		  <select id="x" th:name="numeTema" required>
						    <option selected disabled>-----</option>
                   			<option th:each="project : ${teme}" th:value="${project.nume}" th:text="${project.nume}"></option>
      	      </select>
        	  <input type="hidden" name="techerID" th:value="${teacher.idprofesori}">
       		  <button class="btn btn--radius-2 btn--blue-2 btnSubmitProject" type="submit" onclick="return confirmSubmit()">Sterge tema</button>
       		  <div th:if="${successDeleteProject}"><b>[[${successDeleteProject}]]</b></div>
       		  <div th:if="${failedDeleteProject}"><b>[[${failedDeleteProject}]]</b></div>
         </div>
 	  </form>
					</div>
				</div>
			</div>
		</div>
		
		<script>
function confirmSubmit()
{
var agree=confirm("Este posibil sa aveti stundeti care au facut cerere pt aceasta tema, cererile vor fi sterse. Continuati?");
if (agree)
 return true ;
else
 return false ;
}
</script>
</html>