<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/headerTeacher.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/teacher/teacherWelcome.css}"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	</head>
	 <div th:replace="fragments/headerTeacher :: header">...</div>


<body>
	<p>Welcome</p>
	<p th:text="${mesaj}">Message</p>

<form th:action="@{/viewProject}" th:target="_blank" id="viewCV">
	<input type="submit" value="vezi tema">
	
</form>

</body>


</html>