<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/headerTeacher.css}" />
</head>

<div th:replace="fragments/headerTeacher :: header">...</div>

<form th:action="@{/manageStudent}">
	<select th:name="status">
    	<option value="Accepted" th:name="status">Accepta</option>
    	<option value="Declined" th:name="status">Respinge</option>
    </select>
    <input type="hidden" th:name="studentID" th:value="${student.idstudenti}">
    <input type="submit" value="Submit">
</form>

</head>
<body>
	
</body>
</html>