<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${student.user.username}]]</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/headerTeacher.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/teacher/viewRequest.css}" media="all" />
<link rel="stylesheet" type="text/css" th:href="@{/css/message.css}" />
</head>

<div th:replace="fragments/headerTeacher :: header">...</div>


<body>
	<div class="page-wrapper bg-dark p-t-100 p-b-50">
		<div class="wrapper wrapper--w900">
			<div class="card card-6">
				<div class="card-heading">
					<h2 class="title">Detalii cerere</h2>
				</div>

				<div class="card-body">
					<div class="form-row">
						<div class="name">Nume</div>
						<div class="value">
							<p>[[${student.user.username}]]</p>
						</div>
					</div>
					<div class="form-row">
						<div class="name">Email</div>
						<div class="value">
							<p>[[${student.user.email}]]</p>
						</div>
					</div>
					<div class="form-row">
						<div class="name">Specializare</div>
						<div class="value">
							<p>[[${student.specializare}]]</p>
						</div>
					</div>
					<div class="form-row">
						<div class="name">Grupa</div>
						<div class="value">
							<p>[[${student.grupa}]]</p>
						</div>
					</div>

					<form th:action="@{viewCV}" th:target="_blank"
						style="text-align: center" id="viewCV" >
						<input type="hidden" th:name="userID"
							th:value="${student.user.userID}">
						<button class="btn btn--radius-2 btn--blue-2 viewCV" type="submit">Vezi
							CV</button>
					</form>
						
						<h4 th:unless="${cerere.tema}" style="text-align: center;">Aplicare
								fara tema</h4>
			
						<form th:action="@{/viewAStudentProject}" id="viewProject"
							th:target="_blank" th:if="${cerere.tema} != null and ${cerere.tema.teacher}==null">
							
							<h4 th:if="${cerere.tema} != null and ${cerere.tema.teacher}==null"
								style="text-align: center;">
								Aplicatia cu tema proprie: <a href="#"
									onclick="submit('viewProject')"> [[${cerere.tema.nume}]]</a>
							</h4>
							
							<input th:if="${cerere.tema} != null and ${cerere.tema.teacher}==null" type="hidden" name="projectID"
								th:value="${cerere.tema.idteme}">
						</form>

					<form th:action="@{/viewATeacherProject}" id="viewProject"
							th:target="_blank" th:if="${cerere.tema} != null and ${cerere.tema.student}==null">
							<h4
								th:if="${cerere.tema} != null and ${cerere.tema.student}==null"
								style="text-align: center;">
								Aplicatie pentru tema<a href="#" onclick="submit('viewProject')">
									[[${cerere.tema.nume}]]</a>
							</h4>
							<input th:if=${cerere.tema} type="hidden" name="numeTema"
								th:value="${cerere.tema.nume}">
							<input type="hidden" name="teacherID" th:value="${cerere.teacher.idprofesori}">
						</form>
					<div th:if="${#strings.contains(cerere.status,'asteptare')}"
						class="butoane">
						<div class="decline">
							<form id="formDecline" th:action="@{/manageStudent}"
								style="text-align: left; display: inline-block;">
								<input type="hidden" th:name="status" value="Respins">
								<input type="hidden" name="idCerere" th:value="${cerere.idcereri}">
								<input type="hidden" name="studentID" th:value="${cerere.student.idstudenti}">
								<button class="btn btn--radius-2 btn--red" type="submit"
									onclick="return confirmSubmit('Refuzati studentul?')">Respinge</button>
							</form>
						</div>

						<div class="accept">
							<form id="formAccept" th:action="@{/manageStudent}"
								style="text-align: right;">
								<input type="hidden" th:name="status" value="Acceptat">
								<input type="hidden" name="idCerere" th:value="${cerere.idcereri}">
								<input type="hidden" name="studentID" th:value="${cerere.student.idstudenti}">
								<button class="btn btn--radius-2 btn--green" type="submit"
									onclick="return confirmSubmit('Acceptati studentul?')">Accepta</button>
							</form>
						</div>
					</div>



					<div class="chatBox">
						<div class="scrollable">
							<div class="container" th:each="mesaj: ${mesaje}">
								<div th:if="${mesaj.direction} == 'toMaster'" class="receiver">
									<p class="name">
										<b>[[${mesaj.request.student.user.username}]]</b>
									</p>
									<p>[[${mesaj.content}]]
									<p class="date">[[${mesaj.date}]]</p>
								</div>
								<div th:if="${mesaj.direction} == 'toSlave'" class="sender">
									<p>[[${mesaj.content}]]
									<p class="date">[[${mesaj.date}]]</p>
								</div>

							</div>
						</div>
						<div class="typeMessage">
							<form th:action="@{/submitMessage}">
								<textarea rows="1" placeholder="Trimiteti un mesaj"
									th:name="mesaj" required></textarea>
								<input type="hidden" th:name="idCerere"
									th:value="${cerere.idcereri}">
								<button class="btn btn--radius-2 btn--blue-2 btnSubmit"
									type="submit">Trimite</button>
							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>

<script>
function confirmSubmit(message)
{
var agree=confirm(message);
if (agree)
 return true ;
else
 return false ;
}
</script>
<script src="js/submitById.js"></script>
<script>
function mirror(){
	document.getElementById("mirror").value = document.getElementById("valueToMirror").value;
}
</script>
</html>