<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}"/>
	</head>
	 <div th:replace="fragments/headerStudent :: header">...</div>
<title>Insert title here</title>
</head>
<body>
	<p th:text="${mesajCV}">Message</p>
	
	<form th:action="@{/submitCV}" enctype="multipart/form-data" method="post">
	<label for="myfile">Select a file:</label>
	<input type="file" id="myfile" name="cv">	
	<input type="submit" value="Incarca CV">
	</form>
</body>
</html>