<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profesori coordonatori</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/student/viewTeachers.css}" />
</head>
<div th:replace="fragments/headerStudent :: header">...</div>


<body>
	
	<div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Profesori coordonatori</h2>
                </div>
                <div class="card-body">
	<div class="container"> 
	
	<div class="search">
	<div class="departament">
		<form th:action="@{/teachers}" id="submitById" onchange="submit('submitById')">
		<label for="selectDepartament">Cauta dupa departament</label>
		<select id="selectDepartament" th:name="departament">
			<option disabled hidden selected >[[${departament }]]</option>
    		<option value="DCAE" >DCAE</option>
    		<option value="TEF" >TEF</option>
    		<option value="Telecomunicatii" >Telecomunicatii</option>
    		<option value="Electronica aplicata si Ingineria Informatiei" >Electronica aplicata si Ingineria Informatiei</option>
    	</select>
		</form>
	</div>
	<div class="name">
		<form th:action="@{/teachers}" id="searchByName" class="searchByName">
			<label for="searchByName">Cauta dupa nume</label>
			<input type="text" th:name="name" th:value="${name}">
			<input type="submit" value="Cauta">
		</form>
	</div>
	</div>
	<table class="responsive-table" border="1">
		<tr>
			<th scope="col">Nume(click pentru detalii)</th>
			<th scope="col">Email</th>
			<th scope="col">Departament</th>
			<th scope="col">Locuri disponibile</th>

		</tr>
		<tr th:each="teacher: ${teachers}" class="clickable" th:onclick="'submit(\'' + ${teacher.user.userID} + '\');'">
			<td><a th:text="${teacher.user.username}"></a>
				<form th:action="@{/teacherDetails}" th:id="${teacher.user.userID}">
					<input id="input" type="hidden" th:name="teacherID"
						th:value="${teacher.idprofesori}" >
				</form>
			</td>
			<td th:text="${teacher.user.email}"></td>
			<td th:text="${teacher.departament}"></td>
			<td th:text="${teacher.slots}"></td>

		</tr>
	</table>
</div>
</div>
</div>
</div>
</body>

 <script src="js/submitById.js"></script> 

</html>