<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${teacher.user.username}" >Insert title here</title>

<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}"/>
		 <link rel="stylesheet" type="text/css" th:href="@{/css/student/viewTeacherDetails.css}"/>
	</head>
<div th:replace="fragments/headerStudent :: header">...</div>

<div th:if="${errorMessage}">
	<script> alert("[[${errorMessage}]]") </script>
	</div>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Detalii profesor</h2>
                </div>
                <div class="card-body">
                 <div class="form-row">
                            <div class="name">Nume complet</div>
                            <div class="value">
                                <p>[[${teacher.user.username}]]</p>
                            </div>
                 </div>
                 <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                               <p>Email : [[${teacher.user.email}]]</p>
                            </div>
                 </div>
                 <div class="form-row">
                            <div class="name">Departament</div>
                            <div class="value">
                                <p>[[${teacher.departament}]]</p>
                            </div>
                 </div>
                 <div class="form-row">
                            <div class="name">Locuri disponibile</div>
                            <div class="value">
                                <p>[[${teacher.slots}]]</p>
                            </div>
                 </div>
                 <div class="form-row">
                            <div class="name">Alte mentiuni</div>
                            <div class="value">
                                <p>[[${teacher.comment}]]</p>
                            </div>
                 </div>
                  <br>
				  <p style="text-align:center;"><b>Teme disponibile</b></p>
				   <br>
				   <div style="text-align:center;">
				  <form id="veziTema" th:action = "@{/viewProject}" th:target="_blank" onchange="submit('veziTema')">
				 		 <label for="apply">Vezi tema</label>
						 <select id="apply" th:name="numeTema">
						    <option selected >-----</option>
                   			<option th:each="project : ${projects}" th:value="${project.nume}" th:text="${project.nume}"></option>
           			    </select>
           			    <br>
				 </form>
				 
				  </div>
				
				 <br>
				 <br>
				 
				  <div style="text-align:center;">
				  <form th:action="@{/submitRequest}" >
				 		 <label for="apply">Alege o tema</label>
						 <select id="apply" th:name="numeTema">
						    <option selected >Aplica fara tema</option>
                   			<option th:each="project : ${projects}" th:value="${project.nume}" th:text="${project.nume}"></option>
           			    </select>
           			    <br>
           			    <input type="hidden" th:name="teacherID" th:value="${teacher.idprofesori}">
						<button class="btn btn--radius-2 btn--blue-2" type="submit">Aplica</button>
						
				 </form>
				 <br>
				 <div style="align-content:right" th:if="${error}"><b>[[${error}]]</b></div>
                 <div style="align-content:right" th:if="${succes}"><b>[[${succes}]]</b></div>
				 
				  </div>
				  
				  
				
				
</div>

</div>
</div>

<script src="js/submitById.js"></script> 
</html>