<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profesori coordonatori</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/student/viewTeachers.css}" />
</head>
<div th:replace="fragments/headerStudent :: header">...</div>


<body>

	<div class="container"> 
	
	<form th:action="@{/teachers}" id="submitById" onchange="submit('submitById')">
	<label for="selectDepartament">Cauta dupa departament</label>
	<select id="selectDepartament" th:name="departament">
		<option disabled hidden selected >[[${departament }]]</option>
    	<option value="DCAE" >DCAE</option>
    	<option value="TEF" >TEF</option>
    </select>
	</form>
	
	<form th:action="@{/teachers}" id="searchByName">
	<label for="searchByName">Cauta dupa nume</label>
	<input type="text" th:name="name" th:placeholder="${name}">
	<input type="submit" value="Cauta">
	</form>
	
	<table class="responsive-table" border="1">
		<tr>
			<th scope="col">Nume</th>
			<th scope="col">Email</th>
			<th scope="col">Departament</th>
			<th scope="col">Locuri disponibile</th>

		</tr>
		<tr th:each="teacher: ${teachers}">
			<td><a th:text="${teacher.user.username}" href="#"
				th:onclick="'submit(\'' + ${teacher.user.userID} + '\');'"></a>
				<form th:action="@{/teacherDetails}" th:id="${teacher.user.userID}">
					<input id="input" type="hidden" th:name="teacherID"
						th:value="${teacher.idprofesori}"></td>
			</form>
			<td th:text="${teacher.user.email}"></td>
			<td th:text="${teacher.departament}"></td>
			<td th:text="${teacher.slots}"></td>

		</tr>
	</table>
</div>
</body>

 <script src="js/submitById.js"></script> 

</html>