<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${teacher.user.username}" >Insert title here</title>

<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}"/>
	</head>
	 <div th:replace="fragments/headerStudent :: header">...</div>

</head>
<body>
	<p> AICI SUNT DETALIILE USERULUI SELECTAT </p>
	<p th:text="${teacher.user.username}"></p>
	
	<form th:action = "@{/submitRequest}">
		<input type="hidden" th:name="teacherID" th:value="${teacher.idprofesori}">
		<input type="submit" value="Trimite cerere">
	</form>
	
	
</body>
</html>