<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cerere catre [[${cerere.teacher.user.username}]]</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/headerStudent.css}"/>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/student/viewRequest.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/message.css}"/>
</head>

<div th:replace="fragments/headerStudent :: header">...</div>

<div th:if="${nullProject}">
	<script> alert("Incarca un fisier!") </script>
</div>


<body>
	<div class="page-wrapper bg-dark p-t-100 p-b-50">
		<div class="wrapper wrapper--w900">
			<div class="card card-6">
				<div class="card-heading">
					<h2 class="title">Detalii profesor</h2>
				</div>
				<div class="card-body">
					<div class="form-row">
						<div class="name">Nume profesor</div>
						<div class="value">
							<form th:action="@{/teacherDetails}" id="viewTeacher" target="_blank">
								<p><a href="#" onclick="submit('viewTeacher')">[[${cerere.teacher.user.username}]]</a></p>
								<input type="hidden" name="teacherID" th:value="${cerere.teacher.idprofesori}"> 
							</form>
						</div>
					</div>
					<div class="form-row">
						<div class="name">Tema</div>
						<div class="value">
							<form th:if="${cerere.tema} != null and ${cerere.tema.teacher}==null" th:action="@{/viewAStudentProject}" id="viewStudentProject" target="_blank"> 
								<p th:if="${cerere.tema} != null and ${cerere.tema.teacher}==null" ><a href="#" onclick="submit('viewStudentProject')">[[${cerere.tema.nume}]] (tema personala)</a></p>
								<input type="hidden" name="projectID" th:value="${cerere.tema.idteme}">
								
							</form>
							<form th:if="${cerere.tema} != null and ${cerere.tema.student}==null" th:action="@{/viewATeacherProject}" id="viewTeacherProject" target="_blank">
								<p th:if="${cerere.tema} != null and ${cerere.tema.student}==null"><a href="#" onclick="submit('viewTeacherProject')">[[${cerere.tema.nume}]]</a></p>
								<input th:if="${cerere.tema} != null and ${cerere.tema.student}==null" type="hidden" name="teacherID" th:value="${cerere.teacher.idprofesori}">
								<input type="hidden" name="numeTema" th:value="${cerere.tema.nume}">
							</form>
								<p th:unless="${cerere.tema}">Aplicare fara tema</p>
							<div th:if="${succes}">
								<b>[[${succes}]]</b>
							</div>
							<div th:if="${error}">
								<b>[[${error}]]</b>
							</div>
							<button
								th:if="${cerere.tema} and ${cerere.tema.teacher}==null and ${succes}==null and ${error} == null"
								class="btn btn--radius-2 btn--blue-2 btnModify" id="btnModify"
								onclick="modifyProject()">Modifica tema</button>
							<form th:if="${cerere.tema}" th:action="@{/modifyRequestProject}"
								id="formModify" style="display: none;"
								enctype="multipart/form-data" method="post">
								<input type="file" id="inputFile" name="temaPDF"> 
								<button class="btn btn--radius-2 btn--blue-2" type="submit">Incarca</button>
								<input type="hidden" name="requestID"
									th:value="${cerere.idcereri}">
							</form>
						</div>
					</div>
					
					<div class="form-row">
						<div class="name">Status cerere</div>
						<div class="value">
								<p>[[${cerere.status}]]</p>
						</div>
					</div>
					
				<div class = "accept" th:if="${cerere.confirmed==1}">
					<p> Ai confirmat aceasta cerere! Felicitari! </p>
				</div>
				
				<div class = "accept" th:if="${cerere.confirmed}==0 and ${cerere.student.confirmed}==1">
					 <p> Ai confirmat deja o alta cerere! Succes!</p>
				</div>
				
					
				<div th:if="${#strings.contains(cerere.status,'Acceptat')} and ${cerere.student.confirmed}==0" class="accept">
							<p>Felicitari! Profesorul ti-a acceptat cererea. Apasa butonul pentru a confirma alegerea acestui profesor!</p>
							<form id="formAccept" th:action="@{/acceptTeacher}"
								style="text-align: center;">
								<input type="hidden" th:name="status" value="Confirmat de student">
								<input type="hidden" name="idCerere" th:value="${cerere.idcereri}">
								<input type="hidden" name="studentID" th:value="${cerere.student.idstudenti}">
								<button class="btn btn--radius-2 btn--green" type="submit"
									onclick="return confirmSubmit('Acceptati studentul?')">Confirma cerere</button>
							</form>
				</div>

					<div class="chatBox">
						<div class="scrollable">
							<div class="container" th:each="mesaj: ${mesaje}">
								<div th:if="${mesaj.direction} == 'toSlave'" class="receiver">
									<p class="name">
										<b>[[${mesaj.request.teacher.user.username}]]</b>
									</p>
									<p>[[${mesaj.content}]]
									<p class="date">[[${mesaj.date}]]
								</div>
								<div th:if="${mesaj.direction} == 'toMaster'" class="sender">
									<p>[[${mesaj.content}]]
									<p class="date">[[${mesaj.date}]]</p>
								</div>

							</div>
						</div>
						<div class="typeMessage">
							<form th:action="@{/submitMessage}">
								<textarea rows="1" placeholder="Trimiteti un mesaj"
									th:name="mesaj" required></textarea>
								<input type="hidden" th:name="idCerere"
									th:value="${cerere.idcereri}">
								<button class="btn btn--radius-2 btn--blue-2 btnSubmit"
									type="submit">Trimite</button>
							</form>

						</div>
						
						</div>
						
					</div>


				</div>
			</div>
		</div>

	<script src="js/submitById.js"></script>
	<script>
		function modifyProject(){
			document.getElementById("btnModify").style.display="none";
			document.getElementById("formModify").style.display="flex";
				}
		</script>
</html>