<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/css/headerStudent.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/student/viewSentRequests.css}"/>
 
<script src="js/submitById.js"></script> 

<title>Cereri</title>
</head>
<div th:replace="fragments/headerStudent :: header">...</div>
<body>

<div class="container"> 
	<table class="responsive-table table-striped table-hover" border="1">
		<tr>
			<th scope="col">Profesor</th>
			<th scope="col">Tema aleasa</th>
			<th scope="col">Status</th>

		</tr>
		<tr th:each="cerere: ${cereriStudent}" class="clickable" th:onclick="'submit(\'' + ${cerere.idcereri} + '\');'">
		<td><a th:text="${cerere.teacher.user.username}"></a>
				<form th:action="@{/viewRequest}" th:id="${cerere.idcereri}">
					<input id="input" type="hidden" th:name="idCerere"
						th:value="${cerere.idcereri}">
			    </form>
		</td>
			
			<td th:if="${cerere.tema}">[[${cerere.tema.nume}]]</td>
			<td th:unless="${cerere.tema}">Aplicare fara tema</td>
			<td th:text="${cerere.status}"></td>
		</tr>
		
		
	</table>



</body>
</html>